.f-DMSans {
  font-family: "DMSans";
  font-weight: 400;
}
.f-Mark-medium {
  font-family: "DMSans";
  font-weight: 500;
}
.f-DMSans-bold {
  font-family: "DMSans";
  font-weight: 700;
}


@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Regular.ttf?ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Bold.ttf?ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Medium.ttf?ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.ttf?ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-left:before {
  content: "\ea44";
}
